<style>

  p {
    color :#404040;
  }

  a {
    color: #00bfff;
  }

  h3 {
    color: #404040;
  }

  .footer {
   position: Fixed;
   width: auto;
  }

  * {
  font-family: sans-serif;
  }

</style>
